*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.resume{
    display: flex;
    width: 794px;;
    border:  2px solid black;
}
.first-div{
    flex: 1;
    background-color:#303642;
    flex-direction: column;
}

#img{
    width: 178px;
    height:178px ;
    border-radius: 50%;
    background-image: url(Images/profile-pic\ \(1\).png);
    background-size: cover;
    margin-top: 45px;
    margin-left: 14%;
}
#contact{

}
#contact h2{
    color: #38b6ff;
    text-decoration: underline;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 20px;
}
#contact-list{
    color: white;

}
#contact-list li{
    display: flex;
    margin-top: 10px;
    align-content: space-between;
}
#contact-list li a{
    text-decoration: none;
    color: white;
}
#contact-list img{
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

.career{
}
.career h2{
    color: #38b6ff;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
}
.career p{
    color: white;
    width: 240px;
    margin: 0 10px 0 30px;
    text-align: justify;

}
#skills h2{
    color: #38b6ff;
    text-decoration: underline;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
}
#skills-ul{
    margin-left: 30px;

}
#skills-ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    color: white;
    width: 200px;

}
#skills-ul img{
    height: 40px;
    width: 80px;
}

.second-div{
    flex: 2;
    background-color:white;
}

#name{
    margin-left: 30px;

}
#first-name{
    margin-top: 10px;
    color: #3d3d3d;
    font-size: 5rem;
    font-weight: bolder;
}
#last-name{
    color: #3d3d3d;
    font-size: 4rem;
    font-weight:400;
}
#name p{
    color:#303642;
    font-size: 20px;
    font-weight: lighter;   
}
#education{
    margin-top: 40px;
    margin-left: 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}
#education h2{
    color: #303642;
    margin-right: 5px;
}
#line{
    margin-top: 10px;
    height: 6px;
    width:100%;
    background-color: #38b6ff;
}

#education-ul{
    margin-top: 20px;
    margin-left: 50px;
}
#education-ul li{
    margin-bottom: 10px;
}
#education-ul li h3{
    font-size: 15px;
    color: #3d3d3d;

}
#education-ul li p{
    margin-left: 10px;
    font-size: 14px;
    color: #737373;
}

#experience{
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
#experience-line{
    height: 6px;
    width: 39.9%;
    background-color: #38b6ff;
    margin-top: 10px;
}
#experience h2{
    color: #303642;
    margin-right: 5px;

}
#experience-h3{
    margin-left: 50px;
    color: #3d3d3d;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;

}
#experience-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#experience-ul li{
    list-style-type: none;
}
#experience-ul h3{
    font-size: 15px;
    color: #3d3d3d;
    font-weight: lighter;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 10px;
}
#experience-p{
    margin-top: 10px;
    margin-left: 50px;
    color: #737373;
    font-size: 14px;
}
#project{
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
#project h2{
    color: #303642;
    margin-right: 5px;
}
#project-line{
    height: 6px;
    width: 80%;
    background-color: #38b6ff;
    margin-top: 10px;
}
#project-h3{
    margin-left: 50px;
    margin-top: 10px;
    color: #3d3d3d;
    font-size: 15px;
    font-weight: bold;
}
#project-ul{
    margin-top: 10px;
    margin-left: 70px;

}
#project-ul li{
    margin-bottom: 10px;
    color: #737373;
    font-size: 14px;
}